:root {
    font-size: 16px;
}

body,
p {
    font-size: 1rem;
    font-family: 'Nunito', 'Mukta', sans-serif;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-weight: 600;
    width: max-content;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.50rem;
}

h3 {
    font-size: 1.125rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.5rem;
}